<!--<p>user.component works!</p>
<button type="button" class="btn btn-info"> info </button>-->
<div class="container my-5">
     @for (u of user; track u.id){
        <li> {{ u.name }} - {{ u.email }} - {{ u.phone }} </li>
    }
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
     @for (u of user; track u.id){
            <tr>
                <th scope="row">{{ u.id }}</th>
                <td>{{ u.name }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.phone }}</td>
            </tr>
        }
  </tbody>
</table>
</div>
